// FONTS GOOGLE
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap';

// FONTS LOCALES
@font-face {
    font-family: "ChunkFiveEx";
    src: url('../../fonts/Chunkfive_Ex.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Restora";
    src: url('../../fonts/RestoraExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
}

// CITRICA SYSTEM TYPOGRAPJY
$font-family-a: 'ChunkFiveEx';
$font-family-b: 'Restora', sans-serif;
$font-family-c: 'Poppins', sans-serif;