@import 'mixins.scss';
// ==================================================
// SETTINGS
// ==================================================

// COLORS

$color-primary-lightest: #F66F7A;
$color-primary-light: #F33F4E;
$color-primary: #E40E20;
$color-primary-dark:#BB0C1A;
$color-primary-darkest: #8B0914;

$color-secondary-lightest: #ECDBBC;
$color-secondary-light: #E0C694;
$color-secondary: #D5B16C;
$color-secondary-dark: #CA9C45;
$color-secondary-darkest: #AB8131;

$color-tertiary-lightest: #FFE699;
$color-tertiary-light: #FFD552;
$color-tertiary: #FCBF00;
$color-tertiary-dark: #DBA600;
$color-tertiary-darkest: #B28700;

$color-white: #FFFFFF;
$color-black: #1D1D1B;

$color-neutral-lightest: #F0F0F0;
$color-neutral-light: #C6C6C2;
$color-neutral-mid: #8E8E86;
$color-neutral-dark: #2A2A27;
$color-neutral-darkest: #1D1D1B;
//-------------------------------
// FALTAN DEFINIR SI VAN O NO
// $color-white : #FFFFFF;
// $color-black : #353535;

// CITRICA SYSTEM BORDER RADIOUS
$border-radious-xs: "";
$border-radious-sm: "";
$border-radious-md: "";
$border-radious-lg: "";
$border-radious-xl: "";

// CITRICA SYSTEM BORDER 
$border-extra-light: "";
$border-light: "";
$border-md: "";
$border-bold: "";
$border-extra-bold: "";

// CITRICA SYSTEM OPACITY
$opacity-1:"";
$opacity-2:"";
$opacity-3:"";
$opacity-4:"";
$opacity-5:"";

// CITRICA SYSTEM ELEVATION 
$elevation-level-1: "";
$elevation-level-2: "";
$elevation-level-3: "";
$elevation-level-4: "";
$elevation-level-5: "";

// GRID

// CONTAINER WIDTH AVAILABLE
    $container__width: 1366px;

// COLS
    $total-columns__lg: 12;
    $total-columns__md: 8;
    $total-columns__sm: 4;
    $total-columns__xs: 2;

// GUTTER BETWEEN COLS
    $grid-gutter__lg: 34px;
    $grid-gutter__md: 28px;
    $grid-gutter__sm: 24px;
    $grid-gutter__xs: 10px;

// CONTAINER PADDING (ONLY ONE SIDE)
    $container-padding__lg: 112px;
    $container-padding__md: 56px;
    $container-padding__sm: 32px;
    $container-padding__xs: 20px;


// RESPONSIVE
$root-vars: (
    xs: (
        // LAYOUT
        --container-width: $container__width,
        --total-columns: $total-columns__xs,
        --grid-gutter: $grid-gutter__xs,
        --container-padding: $container-padding__xs,
        --display-block-only-mobile: block,
        --display-block-not-mobile: none,
        // COLORS
        --color-white: $color-white,
        --color-black: $color-black,
        --color-primary: $color-primary,
        // --color-primary-black: $color-primary-black,
        --color-primary-dark: $color-primary-dark,
        --color-secondary: $color-secondary,
        // FONTS
        --font-family-a: $font-family-a,
        --font-family-b: $font-family-b,
        --font-family-c: $font-family-c,
        // CUSTOM
    ),
    sm: (
        // LAYOUT
        --total-columns: $total-columns__sm,
        --grid-gutter: $grid-gutter__sm,
        --container-padding: $container-padding__sm,
        --display-block-only-mobile: none,
        --display-block-not-mobile: block,
    ),
    md: (
        // LAYOUT
        --total-columns: $total-columns__md,
        --grid-gutter: $grid-gutter__md,
        --container-padding: $container-padding__md,
        --display-block-only-mobile: none,
        --display-block-not-mobile: block,
    ),
    lg: (
        // LAYOUT
        --total-columns: $total-columns__lg,
        --grid-gutter: $grid-gutter__lg,
        --container-padding: $container-padding__lg,
        --display-block-only-mobile: none,
        --display-block-not-mobile: block,
        --font-size-h1: 100px,
        --font-size-h2: 90px,
        --line-height-h1: 102px,
    ),
    // Opcionales
    only-md: (
        //
    )
)