@import 'mixins.scss';
// ==================================================
// SETTINGS
// ==================================================

// COLORS

// CITRICA SYSTEM COLORS
// $color-primary-black: #443C1D;
// $color-primary-dark: #87783A;
// $color-primary: #C0AF6D;
// $color-primary-light: #D4C89B;
// $color-primary-white: #FCFBF8;
// $color-secondary: #0B2037;
// $color-secondary-dark: #1C528C;
// $color-secondary-mid: #3783D7;
// $color-secondary-light: #D4E5F7;
// $color-secondary-white: #F2F7FC;

$color-primary-lightest: “”;
$color-primary-light: “”;
$color-primary: #D5B16C;
$color-primary-dark: “”;
$color-primary-darkest: “”;

$color-secondary-lightest: “”;
$color-secondary-light: “”;
$color-secondary: #D5B16C;
$color-secondary-dark: #A38243;
$color-secondary-darkest: “”;

$color-tertiary-lightest: “”;
$color-tertiary-light: “”;
$color-tertiary: #FCBF00;
$color-tertiary-dark: “”;
$color-tertiary-darkest: “”;

$color-white: #FFFFFF;
$color-black: #1D1D1B;

$color-neutral-lightest: “”;
$color-neutral-light: #EDEDED;
$color-neutral-mid: “”;
$color-neutral-dark: “”;
$color-neutral-darkest: “”;
//-------------------------------
// FALTAN DEFINIR SI VAN O NO
// $color-white : #FFFFFF;
// $color-black : #353535;

// CITRICA SYSTEM BORDER RADIOUS
$border-radious-xsm: "";
$border-radious-sm: "";
$border-radious-md: "";
$border-radious-lg: "";
$border-radious-xlg: "";

// CITRICA SYSTEM BORDER 
$border-extra-light: "";
$border-light: "";
$border-md: "";
$border-bold: "";
$border-extra-bold: "";

// FONTS GOOGLE
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap);

// FONTS LOCALES
@font-face {
    font-family: "ChunkFiveEx";
    src: url('../../fonts/Chunkfive_Ex.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Restora";
    src: url('../../fonts/RestoraExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
}

// CITRICA SYSTEM TYPOGRAPJY
$font-family-a: 'ChunkFiveEx';
$font-family-b: 'Restora', sans-serif;
$font-family-c: 'Poppins', sans-serif;

// CITRICA SYSTEM OPACITY
$opacity-1:"";
$opacity-2:"";
$opacity-3:"";
$opacity-4:"";
$opacity-5:"";

// CITRICA SYSTEM ELEVATION 
$elevation-level-1: "";
$elevation-level-2: "";
$elevation-level-3: "";
$elevation-level-4: "";
$elevation-level-5: "";

//--------------

$text-btns: (
    sm: (
        font-size: 14pt,
        font-weight: 500
    ),
    md: (
        font-size: 18pt,
    ),
    lg: (
        font-size: 20pt,
    )
);

$font-text: '';

$a-transition: all 0.3s ease-in-out;
$padding-bottom-default: 20px;

// GRID

// CONTAINER WIDTH AVAILABLE
    $container__width: 1366px;

// COLS
    $total-columns__lg: 12;
    $total-columns__md: 6;
    $total-columns__sm: 4;

// GUTTER BETWEEN COLS
    $grid-gutter__lg: 56px;
    $grid-gutter__md: 20px;
    $grid-gutter__sm: 20px;

// CONTAINER PADDING (ONLY ONE SIDE)
    $container-padding__lg: 20px;
    $container-padding__md: 24px;
    $container-padding__sm: 32px;


// RESPONSIVE
$root-vars: (
    sm: (
        // LAYOUT
        --container-width: $container__width,
        --total-columns: $total-columns__sm,
        --grid-gutter: $grid-gutter__sm,
        --container-padding: $container-padding__sm,
        --display-block-only-mobile: block,
        --display-block-not-mobile: none,
        // COLORS
        --color-white: $color-white,
        --color-black: $color-black,
        --color-primary: $color-primary,
        // --color-primary-black: $color-primary-black,
        --color-primary-dark: $color-primary-dark,
        --color-secondary: $color-secondary,
        // FONTS
        --font-family-a: $font-family-a,
        --font-family-b: $font-family-b,
        --font-family-c: $font-family-c,
        // CUSTOM
    ),
    md: (
        // LAYOUT
        --total-columns: $total-columns__md,
        --grid-gutter: $grid-gutter__md,
        --container-padding: $container-padding__md,
        --display-block-only-mobile: none,
        --display-block-not-mobile: block,
    ),
    lg: (
        // LAYOUT
        --total-columns: $total-columns__lg,
        --grid-gutter: $grid-gutter__lg,
        --container-padding: $container-padding__lg,
        --display-block-only-mobile: none,
        --display-block-not-mobile: block,
        --font-size-h1: 100px,
        --font-size-h2: 90px,
        --line-height-h1: 102px,
    ),
    // Opcionales
    only-md: (
        //
    )
)