@import 'mixins.scss';
// ==================================================
// SETTINGS
// ==================================================

// COLORS

// CITRICA SYSTEM COLORS
$color-primary-black: #443C1D;
$color-primary-dark: #87783A;
$color-primary: #C0AF6D;
$color-primary-light: #D4C89B;
$color-primary-white: #FCFBF8;
$color-secondary: #0B2037;
$color-secondary-dark: #1C528C;
$color-secondary-mid: #3783D7;
$color-secondary-light: #D4E5F7;
$color-secondary-white: #F2F7FC;
//-------------------------------
// FALTAN DEFINIR SI VAN O NO
$color-white : #FFFFFF;
$color-black : #353535;

// CITRICA SYSTEM BORDER RADIOUS
$border-radious-xsm: "";
$border-radious-sm: "";
$border-radious-md: "";
$border-radious-lg: "";
$border-radious-xlg: "";

// CITRICA SYSTEM BORDER 
$border-extra-light: "";
$border-light: "";
$border-md: "";
$border-bold: "";
$border-extra-bold: "";

$font-a : 'Girassol', cursive;
$font-b : 'Lato', sans-serif;

// CITRICA SYSTEM TYPOGRAPJY
$font-family-a: 'Lato', sans-serif;
$font-family-b: 'Girassol', cursive;
$font-family-c: "";

$typography-display-lg: "";
$typography-display-md: "";
$typography-display-sm: "";
$typography-heading-lg: "";
$typography-heading-md: "";
$typography-heading-sm: "";
$typography-title-lg: "";
$typography-title-md: "";
$typography-title-sm: "";
$typography-subtitle-lg: "";
$typography-subtitle-md: "";
$typography-subtitle-sm: "";
$typography-button-lg: "";
$typography-button-md: "";
$typography-button-sm: "";
$typography-body-bold-lg: "";
$typography-body-bold-md: "";
$typography-body-bold-sm: "";
$typography-body-bold-italic-lg: "";
$typography-body-bold-italic-md: "";
$typography-body-bold-italic-sm: "";
$typography-body-lg: "";
$typography-body-md: "";
$typography-body-sm: "";
$typography-body-italic-lg: "";
$typography-body-italic-md: "";
$typography-body-italic-sm: "";
$typography-label-lg: "";
$typography-label-md: "";
$typography-label-sm: "";

// CITRICA SYSTEM OPACITY
$opacity-1:"";
$opacity-2:"";
$opacity-3:"";
$opacity-4:"";
$opacity-5:"";

// CITRICA SYSTEM ELEVATION 
$elevation-level-1: "";
$elevation-level-2: "";
$elevation-level-3: "";
$elevation-level-4: "";
$elevation-level-5: "";

//--------------


$title-text: (
    sm: (
        font-size: 40px,
        font-family: $font-a,
        font-weight: 400,
    ),
    md: (
        font-size: 40px,
    ),
    lg: (
        font-size: 50px,
    )
);

$title-description: (
    sm: (
        font-size: 18px,
        font-family: $font-a,
        font-weight: 200,
    ),
    md: (
        font-size: 24px,
    ),
    lg: (
        font-size: 28px,
        line-height: 30px
    )
);

$text-btns: (
    sm: (
        font-size: 14pt,
        font-weight: 500
    ),
    md: (
        font-size: 18pt,
    ),
    lg: (
        font-size: 20pt,
    )
);

$font-text: '';

$a-transition: all 0.3s ease-in-out;
$padding-bottom-default: 20px;

// GRID

// CONTAINER WIDTH AVAILABLE
    $container__width: 1366px;

// COLS
    $total-columns__lg: 12;
    $total-columns__md: 6;
    $total-columns__sm: 4;

// GUTTER BETWEEN COLS
    $grid-gutter__lg: 56px;
    $grid-gutter__md: 20px;
    $grid-gutter__sm: 20px;

// CONTAINER PADDING (ONLY ONE SIDE)
    $container-padding__lg: 20px;
    $container-padding__md: 24px;
    $container-padding__sm: 32px;


// RESPONSIVE
$root-vars: (
    sm: (
        // LAYOUT
        --container-width: $container__width,
        --total-columns: $total-columns__sm,
        --grid-gutter: $grid-gutter__sm,
        --container-padding: $container-padding__sm,
        --display-block-only-mobile: block,
        --display-block-not-mobile: none,
        // COLORS
        --color-white: $color-white,
        --color-black: $color-black,
        --color-primary: $color-primary,
        --color-primary-black: $color-primary-black,
        --color-primary-dark: $color-primary-dark,
        --color-secondary: $color-secondary,
        // FONTS
        --font-family: $font-a,
        --font-a: $font-a,
        --font-b: $font-b,
        // CUSTOM
        --a-transition: $a-transition,
        --line-height-h1: 50px,
        --cover-height: 'auto',
        --cover-title-padding-top: 20px,
        --cover-title-padding-right: 0px,
        --cover-title-img-width: 70%,
        --box-send-padding: 35px 3%,
        --box-send-margin: 0 4%,
        --section-3-padding: 0,
        --section-4-padding: 0,
        --footer-flex-direction: column,
        --footer-align-items: center,
        --pre-title-font-size: 16px,
        --title-send-font-size: 36px,
        --box-noticias-margin-left: 2%,
        --box-noticias-margin-right: 2%,
        --font-size-h2: 50px,
    ),
    md: (
        // LAYOUT
        --total-columns: $total-columns__md,
        --grid-gutter: $grid-gutter__md,
        --container-padding: $container-padding__md,
        --display-block-only-mobile: none,
        --display-block-not-mobile: block,
       // PADDING SECTIONS
       --line-height-h1: 70px,
       --cover-height: 'auto',
       --cover-title-padding-top: 50px,
       --cover-title-padding-right: 40%,
       --cover-title-img-width: 80%,
       --box-send-padding: 35px 6%,
       --box-send-margin: 0 25%,
       --section-3-padding: 100px 10%,
       --section-4-padding: 0 10%,
       --footer-flex-direction: row,
       --footer-align-items:flex-end,
       --pre-title-font-size: 24px,
       --title-send-font-size: 46px,
       --box-noticias-margin-left: 10%,
       --box-noticias-margin-right: 10%,
       --font-size-h2: 60px,
    ),
    lg: (
        // LAYOUT
        --total-columns: $total-columns__lg,
        --grid-gutter: $grid-gutter__lg,
        --container-padding: $container-padding__lg,
        --display-block-only-mobile: none,
        --display-block-not-mobile: block,
        --font-size-h1: 100px,
        --font-size-h2: 90px,
        --line-height-h1: 102px,
       // PADDING SECTIONS
       --section-carousel-padding: 80px 80px 80px 100px,
       --section-carousel-padding-left: 80px,
       --cover-height: 100vh,
       --cover-title-padding-top: 200px,
       --cover-title-padding-right: 0px,
       --cover-title-img-width: initial,
       --box-send-padding: 35px 8%,
       --box-send-margin: 0 25%,
       --section-3-padding: 100px 10%,
       --section-4-padding: 0 10%,
       --footer-flex-direction: row,
       --footer-align-items: flex-end,
       --pre-title-font-size: 24px,
       --title-send-font-size: 46px,
       --box-noticias-margin-left: 11.5625rem,
       --box-noticias-margin-right: 12.5rem,
    ),
    // Opcionales
    only-md: (
        //
    )
)