.hero-section{
  background: url('../public/img/herohero-bg.jpg') #1D1D1B no-repeat center;
  background-size: cover;
}
.about-us{
  background: url('../public/img/about-us-video-cover.jpg') #FFF no-repeat center;
  background-size: cover;
}
.history-section, .our-companies{
  background: url('../public/img/history-bg.jpg') #1D1D1B no-repeat top;
  background-size: cover;
}
.our-brands{
  background-color: #EDEDED;
  padding: 64px;
}